/* src/app/core/components/header/header.component.scss */
.navbar {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-beige);
    padding: 1rem;

    .navbar-brand {
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        color: var(--main-green);

        @media (max-width: 768px) {
            font-size: 1.2rem;
        }
    }

    .nav-link {
        color: var(--main-green) !important;
        margin: 0 0.5rem;

        &.active {
            font-weight: bold;
            color: var(--main-brown) !important;
        }

        @media (max-width: 768px) {
            margin: 0.25rem 0;
        }
    }
}
