<!-- src/app/core/components/header/header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="https://elyoni-pics.s3.eu-north-1.amazonaws.com/Elyoni.jpeg" alt="Elyoni Logo" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="/" routerLink="/">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="/products" routerLink="/products">Products</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="/about" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="/sourcing" routerLink="/sourcing">Sourcing</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="/trade" routerLink="/trade">Trade</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="/blog" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="/contact" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>