<!-- src/app/core/components/footer/footer.component.html -->
<footer class="bg-light text-center text-lg-start mt-4">
    <div class="text-center p-3">
        <p>© 2025 Amu Darya Manufacturing & Trading Co. All rights reserved.</p>
        <p>
            <a routerLink="/">Home</a> |
            <a routerLink="/products">Products</a> |
            <a routerLink="/about">About Us</a> |
            <a routerLink="/sourcing">Sourcing</a> |
            <a routerLink="/trade">Trade</a> |
            <a routerLink="/blog">Blog</a> |
            <a routerLink="/contact">Contact Us</a>
        </p>
    </div>
</footer>